<ng-include src="'/views/layouts/navbar.html'" ng-controller="navbarController as navbar"></ng-include>
<div class="container-fluid vertical-margin">
    <div class="row">
        <h1 class="text-center header">Lorem ipsum dolor sit amet</h1>
        <hr class="divider"/>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <p class="lead text-left">
                commodo magna sed mauris luctus sagittis. Nullam vel nisi et orci vehicula interdum. Nulla commodo nunc
                auctor nibh consequat sollicitudin. Etiam euismod porta magna sed efficitur. Nulla condimentum in est in
                rutrum. Proin et erat fringilla, dignissim diam sit amet, pharetra nisl. Morbi in risus leo
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 vertical-margin-2x">
            <form name="userForm" ng-submit="registro.submit(userForm.$valid)" novalidate>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="nombre" ng-model="registro.form.nombre" class="form-control"
                           placeholder="Ingrese nombre completo" required/>

                    <div ng-messages="userForm.nombre.$error"
                         ng-messages-include="views/partials/errors/errors.html"></div>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" name="password" ng-model="registro.form.password" class="form-control"
                           required/>

                    <div ng-messages="userForm.password.$error"
                         ng-messages-include="views/partials/errors/errors.html"></div>
                </div>
                <div class="form-group">
                    <label>Verificar contraseña</label>
                    <input type="password" name="confirmPassword" class="form-control"
                           ng-model="registro.confirmPassword"
                           ui-validate="{confirmPassword: '$value == registro.form.password'}"
                           ui-validate-watch="'registro.form.password'"/>

                    <div ng-messages="userForm.confirmPassword.$error"
                         ng-messages-include="views/partials/errors/errors.html"></div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="registro.form.email" placeholder="tu@correo.com"
                           class="form-control" required/>

                    <div ng-messages="userForm.email.$error"
                         ng-messages-include="views/partials/errors/errors.html"></div>
                </div>
                <div class="form-group">
                    <label>Dirección</label>
                    <input type="text" name="direccion" class="form-control" ng-model="registro.form.direccion"
                           placeholder="Ingrese dirección completa" required/>

                    <div ng-messages="userForm.direccion.$error"
                         ng-messages-include="views/partials/errors/errors.html"></div>
                </div>
                <label class="control-label">Detalles de la candidatura</label>

                <div class="form-group panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <label class="margin-bottom">En <i class="text-primary">Ver secciones</i> podra ver
                                información a detalle de los
                                distritos y secciones.</label>

                            <div class="form-group">
                                <label>Tipo</label>
                                <select ng-model="registro.form.candidatura" class="form-control"
                                        ng-options="candidatura as candidatura for candidatura in ::registro.candidaturas"
                                        ng-change="registro.changeCandidatura()"></select>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-6">
                                    <label>Estado</label>
                                    <select ng-model="registro.form.estado" class="form-control"
                                            ng-options="estado for estado in ::registro.estados"
                                            ng-disabled="['Presidencia Nacional'].indexOf(registro.form.candidatura) > -1"></select>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label>Municipio</label>
                                    <select ng-model="registro.form.municipio" class="form-control"
                                            ng-options="municipio.nombre as municipio.nombre for municipio in ::registro.municipios"
                                            ng-change="registro.changeCandidatura()"
                                            ng-disabled="['Presidencia Nacional','Gubernatura', 'Diputación Federal', 'Diputación Local'].indexOf(registro.form.candidatura) > -1"></select>
                                </div>
                            </div>
                            <div ng-if="['Diputación Local', 'Diputación Federal'].indexOf(registro.form.candidatura) > -1">
                                <label class="form-group">Ingresa el distrito y su rango de secciones que lo
                                    integran.</label>

                                <div class="row form-group">
                                    <div class="col-xs-4">
                                        <label>Distrito</label>
                                        <input type="text" name="distrito" ng-model="registro.form.distrito.numero"
                                               class="form-control" placeholder="0" required ng-pattern="/^\d{1,3}$/"
                                               ng-change="registro.changeCandidatura()"/>

                                        <div ng-messages="userForm.distrito.$error"
                                             ng-messages-include="views/partials/errors/errors.html"></div>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Inicial</label>
                                        <input type="text" class="form-control" name="seccionesmin"
                                               ng-model="registro.form.distrito.secciones.min"
                                               ng-disabled="!registro.form.distrito.numero"
                                               ng-pattern="/^\d{1,4}$/" placeholder="0" required/>

                                        <div ng-messages="userForm.seccionesmin.$error"
                                             ng-messages-include="views/partials/errors/errors.html"></div>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Final</label>
                                        <input type="text" class="form-control" name="seccionesmax"
                                               ng-model="registro.form.distrito.secciones.max"
                                               ng-disabled="!registro.form.distrito.numero"
                                               ng-pattern="/^\d{1,4}$/" placeholder="1000"
                                               ui-validate="{distinctMinValue: '$value > registro.form.distrito.secciones.min'}"
                                               ui-validate-watch="'registro.form.distrito.secciones.min'" required/>

                                        <div ng-messages="userForm.seccionesmax.$error"
                                             ng-messages-include="views/partials/errors/errors.html"></div>

                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        <small class="text-muted">Para ofrecerte un mejor control, usted tendra que
                                            eligir su distrito y sus secciones.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row vertical-margin-2x">
                                <div class="col-sm-1 col-sm-offset-3 text-right" ng-show="registro.loadDetalles">
                                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                                </div>
                                <div class="col-xs-12 col-sm-4"
                                     ng-class="(!registro.loadDetalles)? 'col-sm-offset-4': ''">
                                    <button type="button" class="button-info btn-block" ng-click="registro.detalles()">
                                        Ver seciones
                                    </button>
                                </div>
                            </div>
                            <small class="text-muted">Algunos campos pueden estar deshabilitados y no se tomaran en
                                cuenta para la busqueda de las casillas. <br/>
                                Commodo magna sed mauris luctus sagittis. Nullam vel nisi et orci vehicula interdum.
                            </small>
                        </div>
                    </div>
                </div>
                <label class="control-label">Teléfonos de contacto</label>

                <div class="form-group panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-6">
                            <label>Local</label>
                            <input type="tel" name="telefono" class="form-control"
                                   ng-model="registro.form.telefonos.telefono"
                                   placeholder="Ingrese teléfono con clave lada" required ng-pattern="/^\d+$/"
                                   ui-validate="{min: '$value.length >=7', max: '$value.length<9'}"/>

                            <div ng-messages="userForm.telefono.$error"
                                 ng-messages-include="views/partials/errors/errors.html"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label>Celular</label>
                            <input type="tel" class="form-control" name="celular"
                                   ng-model="registro.form.telefonos.celular"
                                   placeholder="Ingrese teléfono celular" required ng-pattern="/^\d+$/"
                                   ui-validate="{min: '$value.length >=8', max: '$value.length<12'}"/>

                            <div ng-messages="userForm.celular.$error"
                                 ng-messages-include="views/partials/errors/errors.html"></div>
                        </div>
                    </div>
                </div>
                <label class="control-label">Redes sociales</label>

                <div class="form-group panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-6">
                            <label>Facebook</label>
                            <input type="text" class="form-control" ng-model="registro.form.redesSociales.facebook"
                                   placeholder="Ingrese el vínculo"/>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label>Twitter</label>
                            <input type="text" class="form-control" ng-model="registro.form.redesSociales.twitter"
                                   placeholder="Ingrese el vínculo"/>
                        </div>
                    </div>
                </div>
                <label class="control-label">Partido de pertenencia</label>

                <div class="col-xs-12">
                    <div class="radio radio-primary radio-inline col-xs-4 col-sm-2"
                         ng-repeat="partido in ::registro.partidos track by partido">
                        <input type="radio" id="radio{{$index}}" ng-model="registro.form.partido"
                               value="{{::partido}}"/>
                        <label for="radio{{$index}}" tooltip="{{::partido}}" tooltip-trigger="mouseenter"
                               tooltip-placement="right">
                            <img ng-src="../assets/img/{{::partido}}.png"/>
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-sm-push-3 col-md-push-4">
                    <button type="submit" class="button btn-block">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-include src="'/views/layouts/footer.html'"></ng-include>