<ng-include src="'components/navbar/navbar.html'" ng-controller="navbarController as navbar"></ng-include>
<div class="container-fluid config-candidato-nuevo">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-sm-push-1 col-md-push-2 col-lg-push-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><i class="fa fa-user"></i> Nuevo Candidato</h3>
                </div>
                <div class="panel-body">
                    <form name="userForm" ng-submit="nuevo.submit()">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" ng-model="nuevo.data.nombre" class="form-control"
                                   placeholder="Ingrese nombre completo"/>
                        </div>
                        <div class="form-group">
                            <label>Dirección</label>
                            <input type="text" class="form-control" ng-model="nuevo.data.direccion"
                                   placeholder="Ingrese dirección completa"/>
                        </div>
                        <div class="form-group">
                            <label>Estado de procedencia</label>
                            <select ng-model="nuevo.data.estado" class="form-control"
                                    ng-options="estado.nombre as estado.nombre for estado in ::nuevo.estados"></select>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" ng-model="nuevo.data.email"
                                   placeholder="correo@ejemplo.com"/>
                        </div>
                        <label class="control-label">Teléfonos de contacto</label>

                        <div class="form-group panel panel-default hidden-xs">
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <label>Local</label>
                                    <input type="tel" class="form-control" ng-model="nuevo.data.telefonos.telefono"
                                           placeholder="Ingrese teléfono con clave lada"/>
                                </div>
                                <div class="col-lg-6">
                                    <label>Celular</label>
                                    <input type="tel" class="form-control" ng-model="nuevo.data.telefonos.celular"
                                           placeholder="Ingrese teléfono celular"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default visible-xs">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Local</label>
                                    <input type="tel" class="form-control" ng-model="nuevo.data.telefonos.telefono"
                                           placeholder="Ingrese teléfono con clave lada"/>
                                </div>
                                <div class="form-group visible-xs">
                                    <label>Celular</label>
                                    <input type="tel" class="form-control" ng-model="nuevo.data.telefonos.celular"
                                           placeholder="Ingrese teléfono celular"/>
                                </div>
                            </div>
                        </div>
                        <label class="control-label">Redes sociales</label>

                        <div class="form-group panel panel-default hidden-xs">
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <label>Facebook</label>
                                    <input type="text" class="form-control" ng-model="nuevo.data.redesSociales.facebook"
                                           placeholder="Ingrese el vínculo"/>
                                </div>
                                <div class="col-lg-6">
                                    <label>Twitter</label>
                                    <input type="text" class="form-control" ng-model="nuevo.data.redesSociales.twitter"
                                           placeholder="Ingrese el vínculo"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default visible-xs">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Facebook</label>
                                    <input type="text" class="form-control" ng-model="nuevo.data.redesSociales.facebook"
                                           placeholder="Ingrese el vínculo"/>
                                </div>
                                <div class="form-group visible-xs">
                                    <label>Twitter</label>
                                    <input type="text" class="form-control" ng-model="nuevo.data.redesSociales.twitter"
                                           placeholder="Ingrese el vínculo"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Elige el tipo de candidatura</label>
                            <select ng-model="nuevo.data.candidatura" class="form-control"
                                    ng-options="candidatura as candidatura for candidatura in ::nuevo.candidaturas"></select>
                        </div>
                        <label class="control-label">Escoge el partido de pertenencia</label>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="radio-inline col-xs-4 col-sm-2 col-md-1 col-lg-1"
                                   ng-repeat="partido in ::nuevo.partidos track by partido">
                                <input type="radio" ng-model="nuevo.data.partido" value="{{::partido}}"/>
                                <img src="../assets/img/{{partido}}.png"/>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>¿Activar cuenta de este nuevo usuario?</label>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label class="radio-inline col-xs-4 col-sm-2 col-md-1 col-lg-1">
                                    <input type="radio" ng-model="nuevo.data.status" ng-value="true"/> Si
                                </label>
                                <label class="radio-inline col-xs-4 col-sm-2 col-md-1 col-lg-1">
                                    <input type="radio" ng-model="nuevo.data.status" ng-value="false"/> No
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-push-3 col-md-push-4 col-lg-push-4">
                            <button type="submit" class="btn btn-block btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>