<ng-include src="'/views/layouts/navbar.html'" ng-controller="navbarController as navbar"></ng-include>
<div class="container-fluid home vertical-margin">
    <div class="row content-header">
        <img src="../../assets/img/vote.jpg" class="img-responsive"/>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1 content-box">
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 content-slide text-center">
                    <h2>Automatice los procesos de la jornada electoral con <strong>Trackvot</strong>, la App para la
                        gestión del día"D".</h2>

                    <h3>Prueba nuestro servicio sin costo alguno.</h3>
                    <a class="button-content-box vertical-margin" href="/registro">Crear una cuenta</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row content-features">
        <div class="col-sm-12 text-center header-features">
            <h2>Tenga mayor control de su campaña.</h2>
        </div>
        <div class="col-sm-12 features text-center">
            <div class="col-xs-12 col-sm-6">
                <i class="fa fa-users"></i>

                <p class="lead text-left">
                    Registro y control de militantes y simpatizantes.
                    <br/>
                    Gestión de tu Ejército Electoral (Representantes Generales y Representantes de Casillas).
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <i class="fa fa-line-chart"></i>

                <p class="lead text-left">
                    Genera gráficas en tiempo real de la afluencia de tus votantes (militantes y simpatizantes).
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <i class="fa fa-clock-o"></i>

                <p class="lead text-left">
                    Olvídate de los "Cortes", el "Bingo" y de la captura de los mismos en la casa de campaña; la
                    información se transmite en Tiempo Real, reduciendo prácticamente a 0 la
                    espera de dichos cortes y su procesamiento, lo que te permite enfocarte en lo más
                    importante, "Que tu gente salga a votar".
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <i class="fa fa-list"></i>

                <p class="lead text-left">
                    Accesa a la App desde un Cel, Tablet o Laptop y envía la info. a la casa de campaña del Candidato,
                    donde se este y su equipo de campaña podrán monitorear el desarrollo de la jornada electoral, paso a
                    paso en Tiempo Real, estar en contacto con los Generales y los militantes y/o simpatizantes que
                    faltan de votar, ya sea por Mail, Twitter, Cel, etc. agilizando el proceso.
                </p>
            </div>
        </div>
    </div>
</div>
<ng-include src="'/views/layouts/footer.html'"></ng-include>
