<div class="container-fluid footer">
    <div class="row hidden-xs">
        <div class="col-xs-6">
            &copy;
            <label>2015 TrackVot</label>
        </div>
        <div class="col-xs-6 text-right">
            <i class="fa fa-envelope-o"></i>
            <label>trackvot@gmail.com</label>
            <i class="fa fa-phone"></i>
            <label>333 476 8799</label>
        </div>
    </div>
    <div class="row visible-xs text-center">
        <div class="col-xs-12">
            <button class="button-link" ng-init="isCollapsedFooter=true"
                    ng-click="isCollapsedFooter = !isCollapsedFooter">Contáctanos
            </button>
        </div>
    </div>
    <div class="col-xs-12 margin-bottom text-center" collapse="isCollapsedFooter">
        &copy;&nbsp;
        <label>staff@trackvot.com</label>
    </div>
    <div class="col-xs-12 margin-bottom text-center" collapse="isCollapsedFooter">
        <i class="fa fa-phone fa-lg"></i>&nbsp;
        <label>333 476 8799</label>
    </div>
</div>