<div class="navbar navbar-static-top navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navbar.isCollapsed = !navbar.isCollapsed">
                <i class="fa fa-navicon fa-lg"></i>
            </button>
            <a href="/" class="navbar-brand">TrackVot</a>
        </div>
        <div collapse="navbar.isCollapsed" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="item in navbar.menu track by item.name"
                    ng-class="{active: navbar.isActive(item.link)}">
                    <a href="{{::item.link}}" class="text-center" ng-class="item.name=='Ingresar'? 'navbar-btn btn':''">{{::item.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>