<ng-include src="'components/navbar/navbar.html'" ng-controller="navbarController as navbar"></ng-include>
<div class="container-fluid config-candidato">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-push-3 col-md-push-4 col-lg-push-4">
            <a href="/configuracion/candidato/nuevo" class="btn btn-block btn-info"><i class="fa fa-plus"></i> Nuevo
                Candidato</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-sm-push-1 col-md-push-1 col-lg-push-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><i class="fa fa-users"></i> Listado De Candidatos</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th ng-repeat="header in ::candidato.tableHeaders track by header" class="text-center">
                                {{::header}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cand in ::candidato.candidatos | orderBy:'nombre'">
                            <td class="text-center">{{::cand.nombre}}</td>
                            <td class="text-center">{{::cand.estado}}</td>
                            <td class="text-center">{{::cand.candidatura}}</td>
                            <td class="text-center"><img src="../assets/img/{{::cand.partido}}.png"/></td>
                            <td class="text-center">{{cand.status == true ? "Activo" : "Inactivo"}}</td>
                            <td class="text-center">
                                <i class="fa fa-ellipsis-v fa-lg" ng-click="candidato.modalDetalles($index)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modalDetalles.html">
    <div class="modal-header">
        <i class="fa fa-close close pull-right"  ng-click="$dismiss()"></i>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <label class="modal-title">
                    Puede <label class="text-info">habilitar</label> los campos para modifcar los valores, asi como
                    <label class="text-danger">eliminarlo</label> si usted lo desea, no
                    olvide
                    <label class="text-success">enviar</label> sus cambios.
                </label>
            </div>
            <div class="col-md-2 col-lg-2 col-md-push-1 col-lg-push-1 hidden-xs hidden-sm">
                <button type="button" class="btn btn-info" style="margin-top: 25%;" ng-click="modal.active = false">
                    Habilitar
                </button>
            </div>
            <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
                <button type="button" class="btn btn-info btn-block" ng-click="modal.active = false">Habilitar</button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form name="userForm" ng-submit="modal.submit()">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" ng-model="modal.data.nombre" class="form-control"
                               placeholder="Ingrese nombre completo" ng-disabled="modal.active"/>
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" class="form-control" ng-model="modal.data.direccion"
                               placeholder="Ingrese dirección completa" ng-disabled="modal.active"/>
                    </div>
                    <div class="form-group">
                        <label>Estado de procedencia</label>
                        <select ng-model="modal.data.estado" class="form-control"
                                ng-options="estado.nombre as estado.nombre for estado in ::modal.estados"
                                ng-disabled="modal.active"></select>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" ng-model="modal.data.email"
                               placeholder="correo@ejemplo.com" ng-disabled="modal.active"/>
                    </div>
                    <label class="control-label">Teléfonos de contacto</label>

                    <div class="form-group panel panel-default hidden-xs">
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <label>Local</label>
                                <input type="tel" class="form-control" ng-model="modal.data.telefonos.telefono"
                                       placeholder="Ingrese teléfono con clave lada" ng-disabled="modal.active"/>
                            </div>
                            <div class="col-lg-6">
                                <label>Celular</label>
                                <input type="tel" class="form-control" ng-model="modal.data.telefonos.celular"
                                       placeholder="Ingrese teléfono celular" ng-disabled="modal.active"/>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default visible-xs">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Local</label>
                                <input type="tel" class="form-control" ng-model="modal.data.telefonos.telefono"
                                       placeholder="Ingrese teléfono con clave lada" ng-disabled="modal.active"/>
                            </div>
                            <div class="form-group visible-xs">
                                <label>Celular</label>
                                <input type="tel" class="form-control" ng-model="modal.data.telefonos.celular"
                                       placeholder="Ingrese teléfono celular" ng-disabled="modal.active"/>
                            </div>
                        </div>
                    </div>
                    <label class="control-label">Redes sociales</label>

                    <div class="form-group panel panel-default hidden-xs">
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <label>Facebook</label>
                                <input type="text" class="form-control"
                                       ng-model="modal.data.redesSociales.facebook"
                                       placeholder="Ingrese el vínculo" ng-disabled="modal.active"/>
                            </div>
                            <div class="col-lg-6">
                                <label>Twitter</label>
                                <input type="text" class="form-control"
                                       ng-model="modal.data.redesSociales.twitter"
                                       placeholder="Ingrese el vínculo" ng-disabled="modal.active"/>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default visible-xs">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Facebook</label>
                                <input type="text" class="form-control"
                                       ng-model="modal.data.redesSociales.facebook"
                                       placeholder="Ingrese el vínculo" ng-disabled="modal.active"/>
                            </div>
                            <div class="form-group visible-xs">
                                <label>Twitter</label>
                                <input type="text" class="form-control"
                                       ng-model="modal.data.redesSociales.twitter"
                                       placeholder="Ingrese el vínculo" ng-disabled="modal.active"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Elige el tipo de candidatura</label>
                        <select ng-model="modal.data.candidatura" class="form-control"
                                ng-options="candidatura as candidatura for candidatura in ::modal.candidaturas"
                                ng-disabled="modal.active"></select>
                    </div>
                    <label class="control-label">Escoge el partido de pertenencia</label>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="radio-inline col-xs-4 col-sm-2 col-md-1 col-lg-1"
                               ng-repeat="partido in ::modal.partidos track by partido">
                            <input type="radio" ng-model="modal.data.partido" value="{{::partido}}"
                                   ng-disabled="modal.active"/>
                            <img src="../assets/img/{{partido}}.png"/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>¿Activar cuenta de este usuario?</label>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="radio-inline col-xs-4 col-sm-2 col-md-1 col-lg-1">
                                <input type="radio" ng-model="modal.data.status" ng-value="true"
                                       ng-disabled="modal.active"/> Si
                            </label>
                            <label class="radio-inline col-xs-4 col-sm-2 col-md-1 col-lg-1">
                                <input type="radio" ng-model="modal.data.status" ng-value="false"
                                       ng-disabled="modal.active"/> No
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-sm-push-2 col-md-push-3 col-lg-push-3">
                            <button type="button" class="btn btn-block btn-danger" ng-click="modal.deleteCandidato()">Eliminar</button>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-sm-push-2 col-md-push-3 col-lg-push-3">
                            <button type="submit" class="btn btn-block btn-success" ng-disabled="modal.active">Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>