<ng-include src="'/views/layouts/navbar.html'" ng-controller="navbarController as navbar"></ng-include>
<div class="container-fluid vertical-margin">
    <div class="row">
        <h1 class="text-center header">Iniciar sesión</h1>
        <hr class="divider"/>
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 vertical-margin-2x">
            <form name="userForm" ng-submit="login.submit(userForm.$valid)" novalidate>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="login.form.email" class="form-control" autofocus/>

                    <div ng-messages="userForm.email.$error"
                         ng-messages-include="views/partials/errors/errors.html"></div>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" name="password" ng-model="login.form.password" class="form-control"/>

                    <div ng-messages="userForm.password.$error"
                         ng-messages-include="views/partials/errors/errors.html"></div>
                </div>
                <div class="col-xs-12 col-sm-6  col-sm-offset-3 form-group">
                    <button type="submit" class="button btn-block">Entrar</button>
                </div>
                <div class="clearfix"></div>
                <hr/>
                <div class="row text-center">
                    <div class="col-xs-12">
                        <a href="/registro">Deseo registrarme gratuitamente</a>
                    </div>
                </div>
                <hr/>
            </form>
        </div>
    </div>
</div>
<ng-include src="'/views/layouts/footer.html'"></ng-include>