@import 'variables';

.footer{
  padding-top: 15px;
  border-radius: 0;
  bottom: 0;
  position: relative;
  height: 50px;
  margin-bottom: 0;
  background-color: #223;
  letter-spacing: 1px;
  color: $color-white;
}

@media screen and (max-width: 768px){
  .footer{
    height: auto !important;
  }
}