.home {
  color: $color-ligthblack;
  margin-top: -18px;
  div.content-header {
    position: relative;
    height: 600px;
    h1 {
      letter-spacing: 1px;
    }
    .content-box {
      margin-top: 300px;
    }
    a.button-content-box {
      @extend %button;
      border: 5px solid $color-white;
      padding: 10px 30px;
      margin-top: 50px;
      color: $color-white;
      text-decoration: none;
      font-size: 20px;
      width: 300px;
      &:hover, &:active {
        border-color: $color-ligthblack;
        background-color: $color-ligthblack;
        color: $color-white;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: inherit;
    }
    .content-slide{
      background-color: rgba(34, 170, 170, 0.75);
      color: $color-white;
    }
  }
  .content-features {
    background-color: $color-white;
    padding-bottom: 50px;
    .header-features {
      margin-top: 60px;
      h4 {
        font-weight: 700;
        color: $color-seagreen;
      }
    }
    .features {
      & > div {
        padding: 40px;
        height: 300px;
        transition: all 0.5s;
        i {
          color: $color-seagreen;
          font-size: 100px;
        }
        p{
          margin-top: 40px;
        }
        &:hover, &:active{
          background: $color-seagreen;
          color: $color-white;
          i{
            transform: scale(1.2);
            color: $color-white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    div.content-header {
      height: 450px;
      .content-box {
        margin-top: 30px;
      }
    }
    .features {
      & > div {
        height: auto !important;
      }
    }
  }
}