@import 'variables';

.navbar {
  background: $color-white;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 5px 0, rgba(0, 0, 0, 0.117647) 0 2px 10px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 5px 0, rgba(0, 0, 0, 0.117647) 0 2px 10px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 5px 0, rgba(0, 0, 0, 0.117647) 0 2px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 5px 0, rgba(0, 0, 0, 0.117647) 0 2px 10px 0;
}

.navbar .navbar-header button {
  background-color: $color-seagreen;
  i.fa-navicon {
    color: $color-white;
  }
}

.navbar-form.visible-xs-inline-block {
  padding-top: 0;
  padding-bottom: 0;
  width: 70%;
  border: none;
}

.navbar-nav > li a {
  color: $color-gray;
}

.navbar-nav li.active {
  background-color: $color-seagreen;
  a {
    color: $color-white;
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

[dropdown] {
  margin-right: 15px;
  input {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav > li {
    a.btn.navbar-btn {
      text-align: center;
      padding-top: 6px;
      padding-bottom: 6px;
      border: 2px solid $color-seagreen;
      color: $color-seagreen;
      background-color: $color-white;
      transition: all 0.5s;
      &:hover {
        color: $color-white;
        background-color: $color-seagreen;
      }
    }
    a {
      color: $color-gray;
    }
  }
}