<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu"
            md-is-locked-open="$media('gt-sm')" flex>
    <md-toolbar class="md-toolbar-tools">
    <div layout="row" layout-align="space-between center" layout-fill flex-gt-sm="70">
        <img src="../../assets/img/seiya.jpg" class="img-circle face"/>
        <h3>Demo Electoral</h3>
        <md-button hide-gt-sm ng-click="menu.menuClose()" aria-label="return">
            <i class="fa fa-arrow-left fa-lg"></i>
        </md-button>
    </div>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-item ng-repeat="item in menu.items | orderBy:'name'">
                <md-item-content layout-align="center center">
                    <md-button ng-click="menu.itemSelected = item.name;menu.displayMenuItems($event)" flex="90">
                        <i class="fa {{::item.icon}}"></i> <span>{{::item.name}}</span>
                    </md-button>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>