<span ng-message="required">Este campo es requerido.</span>
<span ng-message="number">Algunos carácteres no son los esperados.</span>
<span ng-message="email">Email invalido.</span>
<span ng-message="min">Es menor al mínimo de caracteres requeridos.</span>
<span ng-message="max">Se excede el límite de caracteres permitidos.</span>
<span ng-message="confirmPassword">Verifique nuevamente su contraseña.</span>
<span ng-message="pattern">Algunos carácteres no son los esperados.</span>
<span ng-message="distinctMinValue">Ingrese un valor mayor al inicial.</span>
<span ng-message="terminos">Necesita aceptar las cláusulas para continuar.</span>